<launch>
  <!-- Use the following for ROS hydro or later: <include file="$(find gazebo_ros)/launch/empty_world.launch"> -->
  <include file="$(find gazebo_worlds)/launch/empty_world.launch">
    </include>
  <include file="/home/aviv/gps/gps/gazebo_models/robots/pr2_no_controllers_gears.launch" />

</launch>
